<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Годовой коллективный проект 8А класса</title>
</head>
<body>
    <div class = "main">
        <div class = "top">
            <h1>Словарь</h1>
        </div>
        <div class = "srch">
            <input type="text" id="search" placeholder="Поиск слова...">
        </div>
        <div class="dict">
            {% for word in words %}
            <a href="/word/{{ word.id }}" class="wcard">
                <div class="wcardtxt">
                    <h3>{{ word.title }}</h3>
                    <p>{{ word.desc }}</p>
                    <span class="more">Подробнее</span>
                </div>
            </a>
            {% endfor %}
        </div>
            <div class = "qwe">
                <a href = "/" class = "button">Главная страница</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>