<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <title>Годовой коллективный проект 8А класса</title>
</head>
<body>
    <div class = "main">
        <div class = "top">
            <h1>«Чтение — вот лучшее учение»</h1>
            <h2>Годовой коллективный проект 8А класса</h2>
        </div>
        <div class = "image">
            <img src="{{ url_for('static', filename='images/331.jpg') }}">
        </div>
        <div class = "txt">
            <p>Читая поэзию XIX века, мы всё чаще замечали слова, которые исчезли из современного языка. Они делают стихи напевнее, глубже, но без пояснения остаются загадкой. Так родилась идея создать небольшой словарь архаизмов.</p>
            <p>Мы учили стихи, разбирали каждое незнакомое слово и поняли: за устаревшими выражениями стоит целый мир — образов, чувств, эпохи. Словарь поможет вам вслед за нами заглянуть в этот мир.</p>
            <p>На этих страницах собраны архаизмы из русской классической поэзии. Для каждого дано толкование и пример из стихотворения.</p>
            <p>Пусть чтение станет не только полезным, но и увлекательным открытием забытых слов.</p>
            <div class = "qwe">
                <a href="/dict" class="button">Словарь</a>
            </div>
        </div>
    </div>
</body>
</html>